body{
    background-image: url("HomePic.jpg");
    background-size: cover;
    background-repeat:no-repeat;
}
#Main{
    position: absolute;
    top: 40%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
/*
    width: 100px;
    height: 100px;
*/
/*    background-color: red;*/
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}
#Main h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
/*
#Main input[name="register"]{
    margin-top: 20px;
    font-size: 50px;
    padding: 15px 32px;
    border-radius: 12px;
    color: #008CBA;
    background-color: transparent;
    border: 4px solid #008CBA;
    font-family: serif;
    transition-duration: 1s;
}
*/
.register{
    margin-top: 20px;
    font-size: 75px;
    padding: 15px 32px;
    border-radius: 12px;
    color: #008CBA;
    background-color: transparent;
    border: 4px solid #008CBA;
    font-family: serif;
    transition-duration: 1s;
    text-decoration: none;
}
.register:hover{
    background-color: orangered;
    transition-duration: 1s;
    color: #ffffff;
}
#Main input[name="login"]{
    background-color: transparent;
    font-size: 21px;
    margin-top: 20px;
    border: none;
    text-decoration: underline;
    font-family: serif;
    color: #008CBA;
/*    position: relative;*/
}
#Main input[name="login"]:hover{
    color: #ffffff;
    transition-duration: 1s;
    text-decoration: underline;
}