<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to ToDo</title>
        <%= stylesheet_link_tag('application', :media =>'all') %>
    <body>
        
        
        <!--here is center div-->
        <div id="Main">
            <h1>Welcome to ToDoList website</h1>
            <input type="button" value="Register Now" name="register">
            <br>
            <input type="button" value="already have account, login now" name="login">
            
        </div>
    </body>
</html>